body {
    background-color: #22232a;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
li.list-header, li.list-entry{
    display : table-row;
}
li.list-entry {
    border-top: 1px solid #ccc;
}
span.list-header{
	background: #dddcd5;
    border: 1px solid #fff;
}
span.list-item {
    color:#fff;
    display: table-cell;
    padding: 3px;
    border: 1px solid #4f4f4f;
}
span.list-item-header {
    color:#000;
    display: table-cell;
    padding: 3px;
}

#results {
	position: relative;
	right: 1.2em;
}

#title {
	text-align: center;
	width: 100%;
	font-size: 60px;
	color: #dddcd5;
	transition: all 0.2s ease-in-out;
}

/* center made-with */

#made-with {
	position: fixed;
	bottom: 0;
	padding-bottom: 5px;
	font-size: 11px;
	color: #fff;
	z-index: 1000;
	text-align: center;
	width: 100%;
	text-decoration: dotted;
	left: 0;
	background-color: black;
}

a {
	color: #8ab1db;
	transition: all 0.2s ease-in-out;
}

a:hover {
	color: #3784d6;
}

a.made-with-link {
	color: #fff;
	text-decoration: none;
	transition: all 0.2s ease-in-out;
}
/* zoom on hover */
a.made-with-link:hover {
	color: #7c7c7c;
	font-size: 14px;
}

#searchboxparrent {
	text-align: center;
	width: 100%;
}

@import url("https://fonts.googleapis.com/css?family=Raleway:400,400i,700");

#searchstatus{
    position: relative;
    top: 50px;
    display: flex;
    justify-content: center;
    color: #fff;
}

#feed-notice {
    position: relative;
    top: 60px;
    display: flex;
    justify-content: center;
    color: #888;
    font-size: 12px;
    font-style: italic;
}

#feed-notice p {
    margin: 5px 0;
}

.search-box {
	border: solid 5px black;
	display: inline-block;
	position: relative;
	border-radius: 50px;
}

.search-box input[type="text"] {
	font-family: Raleway, sans-serif;
	font-size: 20px;
	font-weight: bold;
	width: 50px;
	height: 50px;
	padding: 5px 40px 5px 10px;
	border: none;
	box-sizing: border-box;
	border-radius: 50px;
	transition: width 800ms cubic-bezier(0.68, -0.55, 0.27, 1.55) 150ms;
	background: #dddcd5;
}

.search-box input[type="text"]:focus {
	outline: none;
}

.search-box input[type="text"]:focus, .search-box input[type="text"]:not(:placeholder-shown) {
	width: 300px;
	transition: width 800ms cubic-bezier(0.68, -0.55, 0.27, 1.55);
	background: #dddcd5;
}

.search-box input[type="text"]:focus + button[type="reset"], .search-box input[type="text"]:not(:placeholder-shown) + button[type="reset"] {
	bottom: 13px;
	right: 10px;
	transition: bottom 150ms ease-out 800ms, right 150ms ease-out 800ms;
}

.search-box input[type="text"]:focus + button[type="reset"]:after, .search-box input[type="text"]:not(:placeholder-shown) + button[type="reset"]:after {
	top: 0;
	right: 10px;
	opacity: 1;
	transition: top 150ms ease-out 950ms, right 150ms ease-out 950ms, opacity 150ms ease 950ms;
}

.search-box button[type="reset"] {
	background-color: transparent;
	width: 25px;
	height: 25px;
	border: 0;
	padding: 0;
	outline: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	bottom: -13px;
	right: -15px;
	transition: bottom 150ms ease-out 150ms, right 150ms ease-out 150ms;
}

.search-box button[type="reset"]:before, .search-box button[type="reset"]:after {
	content: "";
	height: 25px;
	border-left: solid 5px black;
	position: absolute;
	transform: rotate(-45deg);
}

.search-box button[type="reset"]:after {
	transform: rotate(45deg);
	opacity: 0;
	top: -20px;
	right: -10px;
	transition: top 150ms ease-out, right 150ms ease-out, opacity 150ms ease-out;
}